.top-section{
    font-family: 'Courier New', Courier, monospace;
}

.demonslayercast{
    filter: hue-rotate(30deg);
}

.demonslayermanga{
    filter: hue-rotate(40deg);
}

body{
    font-family:'Times New Roman', Times, serif;
    background-color: brown;
    background-image: linear-gradient(red, black);
}